.Admin__header {
  width: 100%;
  height: auto;
  background: var(--primary-color);
  padding: 25px 0;
}
.admin__nav-top {
  width: 100%;
  /* height: 100px; */
}
.logo h2 {
  color: #fff;
}

.search__box span i {
  color: whitesmoke;
  padding-left: 5px;
}
.admin__nav-wrapper-top {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
}
.admin__nav-wrapper-top .search__box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin__nav-top-right img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.admin__nav-top-right span i {
  cursor: pointer;
}

.admin__nav-top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.admin-menu {
  width: 100%;
  height: 70px;
  /* line-height: 70px; */
  /* background: var(--card-bg-03); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin__navigation {
  text-align: center;
}
.admin__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  text-align: center;
}
.admin__menu-item a {
  text-decoration: none;
  /* color: whitesmoke; */
  color: #fff;
  background: rgba(0, 0, 0, 0.863);
  padding: 5px 10px;
  border-radius: 3px;
}
.admin__menu-item a:hover {
  color: #fff;
}
.admin__menu-active {
  background: rgba(0, 0, 255, 0.781) !important;
}
